
@media screen and (max-width: 767.98px) { 
  
  .home-section .cover{
    min-height: 100vh;
    width: 100%;
    background-image: url('../img/3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
  }

  .headtitle{
    font-size: 1.5rem !important;
    padding-left: 15%;
    
  }
  .home-content h4{
    font-size:20px;
    color:#ffffff;
    padding-top:350px;
  }
  .home-content h1{
    font-size: 20px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 15px;
    position: relative;
  }
 #about{
   padding:10px 10px 50px 80px!important;
 }
 .about-title {  text-align: center;
    font-size: 15px !important;
   letter-spacing: 10px!important;
    margin: 0% 0% 0% 0% !important;
    text-align: left!important;
  }
  
  .about-text{
    line-height: 16px !important; 
    margin: 0% 0% 0% 0% !important;
    font-size:10px !important;
    text-align: left!important;
    
  }
  .headtitle{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    
  }
  .stats{
    margin-right:100px!important;
margin-left: 0%;
  }
  .service-section{
    padding:10px!important;
  }
  .service-title{
    font-size: 30px!important;
    letter-spacing: 10px!important;
    padding: 0% 0%!important;
    margin: 4% 0% 1%!important;
  }
  .cta-heading {
    font-size: 1.5rem!important;
  }
  .price{
    font-size: 4rem!important;
    margin: 0% !important;
  }
  .pricetitletag{
    font-size: 0.75rem!important;
  }
  #download{
    padding: 7% 5%!important;
  }
}
/* Normal */
body {
  font-family: "Montserrat",sans-serif;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
p {
  color: #8f8f8f;
  text-align: center;
}
#download{
  background-color:#e2f0f9 ;
    padding: 7% 15%;
    text-align: center;
  }
/* Home Section */
#Home{
  position: fixed;
  width:100%;
  z-index: 999;
}


.fluid-container{
  text-align: right;
  width: 100%;
  background-color: #072227;
}
.nav-link{
  color: #fff;
}
.nav-link:hover{
  color:rgb(82, 48, 235);
}
.nav-item {
  padding: 0px 35px;
}
.custom-toggler.navbar-toggler {
  border-color: #FFf !important;
}


.headtitle{
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-left: 1%;
 
}
.headtitle:hover{
  color:#FFE652;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px; 
  text-align: center;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
  background-color: #072227;
}
.dropdown-item{
  color: #fff;
}


/* about section */
#about{
  min-height: 100vh;
  background-image: url('../img/52.jpg');
  background-size: cover;
  background-position: top 60% right 60%;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  padding:50px 100px;

color: #f2f1ef;
}
.about-section{
	padding:80px 0;
}
.about-title {
  font-size: 30px;
  text-align: left;
  color: aliceblue;
  margin-left: 42%;
  margin-top: 5%;
  
}

.about-text {
	line-height: 26px;
  text-align: left;
  color: aliceblue;
  margin-left: 42%;
}
.about-section .stats{
  margin-top: 3%;
  margin-left: 60%;
}

.about-section  .stats .stat-box{

	padding:0 15px;
	text-align: center;
	margin-top:30px;
  margin-right: 10%;
}

.about-section  .stats .stat-box h2{
	font-size: 40px;
	color:#fff;
	margin:0 0 5px;
}
.about-section .stats .stat-box h5{
	font-size: 16px;
	color:#000000;
	font-weight: 600;
	text-transform: uppercase;
}

.about-section .btn{
   margin-top: 30px;
}

 /* cover Section  */
 .row{
	min-height: 100%;
  margin: 0px;
  min-width: 100%;
}
.home-section{
  width:100%;
}
.home-content{
	
	flex:0 0 100%;
	max-width: 100%;
	text-align: center;

}

h4{
	font-size:40px;
	color:#ffffff;
	padding-top:350px;
}
h1{
	font-size: 60px;
	color:#fff;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 20px;
  position: relative;
  transition: all 0.5s ease;
  text-align: center;
}

.scroll-down{
	position: absolute;
	left: 50%;
	bottom: 30px;
	height: 30px;
	width: 30px;
	margin-left: -15px;
	animation:scrollDown 2s ease infinite;
  z-index: 20;
}
 .overlay {
   position: absolute;
  min-width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.cover{
  min-height: 100vh;
  background-image: url('../img/3.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}


  .cta-heading {
    font-size: 3rem;
  }
#Pricing{
  background-color: #b4dcf0;
  padding: 3% 15%;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;}

.card-title{
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.price-value{
  font-size: 1.2rem;
  margin: 0rem !important;
  text-align: center;
  color: #000000;
}
.card-detail{
  font-size: 0.75rem;
  margin: 0.5rem !important;;
}
.price{
  font-family: 'Arizonia', cursive;
font-weight: 100;
  font-size: 5rem;
}

#footer {
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
  
  background-color: #b4dcf0 ;
  
  font-family: "Montserrat",sans-serif;
  

}



/* Footer Social Icons */
.social {
  margin-right: 1.5%;
  font-size: 2rem;

  margin-top: 5%;
}
/* feedbackform */

.feedbackform{
  text-align: left;
}

.contact-message{
  margin: 2% auto 5%;
  width: 50%;
}

input[type=text]{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email],input[type=password]{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width:100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.forms{
  border-radius: 5px;
  border-color: #dad9e7;
  background-color: #f2f2f2;
  margin: 20px 10px;
  padding: 10px;
  font-size: 20px;
  width: auto;
  border-style: dashed;

}
.tel{
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=tel], input[type=date]  {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
width: 100%;
height: auto;
padding: 12px 20px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
background-color: #f8f8f8;
resize: none;
}
/* Service Section */

.service-section{
	padding:80px 0 ;
  background-color: #e2f0f9 ;
}
.service-title {  
  font-size: 60px;
	color:black;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 20px;
  position: relative;
  transition: all 0.5s ease;
  text-align: center;
  padding-bottom: 30px;
  
}

.service-section .service-item{

	padding:15px;
}
.service-section .service-item-inner{
 position: relative;
 overflow:hidden;
}
.service-section .service-item-inner img{
	width: 100%;
	display: block;
	filter: grayscale(100%);
	transition: all 0.5s ease;
}
.service-section .service-item-inner:hover img{
	filter: grayscale(0);
	transform: scale(1.1);
}
.service-section .service-item-inner .overlay{
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	background-color:rgba(0,0,0,0.6);
	display: block  ;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}
.service-section .service-item-inner:hover .overlay{
	background-color: transparent;
}

.service-section .service-item-inner .overlay h4{
	color:#ffffff;
	font-size: 20px;
	margin:0;
	text-align: center;
	transition: all 0.5s ease;
	text-transform: capitalize;
  padding-top:30%;
}
.service-section .service-item-inner .overlay:hover h4{
  transform: translateX(30px);
  opacity:50;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' \
  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' \
  stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }